name: Lint

on: [push, pull_request, workflow_dispatch]

env:
  FORCE_COLOR: 1

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pre-commit
          key:
            lint-${{ hashFiles('**/pyproject.toml') }}-${{
            hashFiles('**/.pre-commit-config.yaml') }}
          restore-keys: |
            lint-

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade tox

      - name: Lint
        run: tox -e lint,mypy
        env:
          PRE_COMMIT_COLOR: always
